<div style="position: relative; width: 250px;">
  <div style="position: absolute; top: 50px; left: 426px; width: 1000px; text-align:right;">
      <span style="color: #F1F2F1">{{email}}</span>
  </div>

</div>
{% extends "base.html" %}
   <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('deposit') }}" class="navbar-item">
                            Deposit
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>


{% block content %}
<h1 class="title">
    <u> <span style="color: #F1F2F1">Account Balance</span> </u>
</h1>

<h2 class="title">
    <span style="color: #F1F2F1">${{account_balance}}</span>
</h2>

{% endblock %}