<div style="position: relative; width: 250px;">
  <div style="position: absolute; top: 50px; left: 426px; width: 1000px; text-align:right;">
      {{email}}
  </div>

</div>
{% extends "base.html" %}
   <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('main.deposit') }}" class="navbar-item">
                            Deposit
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>


{% block content %}
<h1 class="title">
    <u> Account Balance</u>
</h1>

<h2 class="title">
    ${{account_balance}}
</h2>

{% endblock %}